.MainPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.watermark {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 75px;
    display: flex;
    flex-direction: row;
    z-index: 5;
}


/* 
.link-text .logoutBtn {
    position: relative;
    bottom: 25px;
} */