.signUpForm {
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.containerGlass .linkToSignOrLogin {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding-left: 5px;
    color: rgb(238, 255, 56);
}

.containerGlass .linkToLogin {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}