.createPostForm {
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

#description {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color: white;
    font-size: 16px;
    padding: 20px 55px 20px 20px;
    height: 150px;
}

.textAreaInput ::placeholder {
    color: rgb(242, 242, 242);
}


.inputBox .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}