.images {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 25% 25%;
}

.postContent {
    width: 50%;
    height: 50%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.onePost {
    width: 40%;
    height: 50%;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.commentHere {
    border: none;
    border-bottom: 1px solid black;
}


.heart {
    width: 8%;
    height: 8%;
}

.post {
    margin-top: 50px;
}