.onePost {
    max-width: 483px;
    max-height: 70%;
    margin-bottom: 60px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: none;
    /* border: 2px solid;
    border-image: conic-gradient(from var(--angle), hsla(139, 68%, 71%, 1), hsla(280, 98%, 72%, 1), hsla(300, 75%, 79%, 1), hsla(13, 100%, 80%, 1),
            hsla(258, 85%, 62%, 1), hsla(234, 93%, 60%, 1), hsla(180, 79%, 65%, 1), hsla(139, 68%, 71%, 1)) 1;
    animation: 10s rotate linear infinite; */
    z-index: 4;
    position: relative;
}


.photoDiv {
    flex: 1;
    overflow: hidden;
    height: 650px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}

.images {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.commentHere {
    border: none;
    width: 92%;
    border-bottom: 1px solid black;
    background-color: transparent;
}


.heart {
    width: 35px;
    height: 35px;
}

.heart-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 19px 38px rgba(0, 0, 0, 0.7));
    transform-origin: center center;
    width: 0;
}

.animate-like {
    animation: 2s animateLike ease-in-out forwards;
}

@keyframes animateLike {
    0% {
        width: 0;
    }

    5% {
        width: 180px;
    }

    10% {
        width: 150px;
    }

    20%,
    35% {
        width: 160px;
    }

    40%,
    100% {
        width: 0;
    }
}

.posts {
    margin-top: 60px;
}

.homeFeed {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cloud {
    width: 53%;
    height: 105%;
    max-width: 53%;
    max-height: 105%;
    z-index: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-top: 20px;
}

@media (max-width:2000px) {
    .onePost {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 1200px) {
    .cloud {
        width: 60%;
        max-width: 800%;
        max-height: none;
        margin-left: 20%;
    }

    .onePost {
        width: 40%;
        margin-left: 40%;
        margin-right: auto;
    }
}

@media (max-width: 992px) {
    .cloud {
        width: 70%;
        max-width: 100%;
        max-height: none;
        margin-left: 20%;
    }

    .onePost {
        width: 50%;
        margin-left: 35%;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .cloud {
        width: 80%;
        max-width: 100%;
        max-height: none;
    }

    .onePost {
        width: 60%;
        margin-left: 30%;
        margin-right: auto;
    }
}

@media (max-width: 576px) {
    .cloud {
        width: 100%;
        max-width: 100%;
        max-height: none;
        padding: 10px;
    }

    .onePost {
        width: unset;
        margin: 20px;
    }
}

.descUser,
.username,
.comment,
.allComment {
    padding-left: 10px;
}